@use "header";
@use "footer";
@use "index";
@use "variables";
@use "articles";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(215, 219, 219);
    font-family: variables.$lato;
}


main {
    width: 100%;
    height: calc(100vh - 250px);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
}
